/* .fc-toolbar-title {
  font-size: 1.3rem !important;
}

.fc-today-button {
  background-color: #b7b7b7 !important;
  color: white !important;
  border: 0 !important;
  padding: 0.2rem 0.4rem !important ;
}

.fc-prev-button,
.fc-next-button {
  border: none !important;
  padding: 0.4rem !important;
  background: #bfbfbf !important;
  display: flex !important;
  span {
    font-size: 1.2rem !important;
  }
}

.fc-myCustomButton-button {
  border: 0 !important;
  padding: 0.2rem 0.4rem !important ;

  background-color: #67b3d1 !important;
}

.fc-dom-86 {
  z-index: 1 !important;
}

.ReactModal__Overlay {
  z-index: 10;
}

.ReactModal__Content {
  z-index: 30;
} */